@if (layout.compact() && layout.navOpen()) {
  <div class="backdrop" (click)="layout.closeNav()"></div>
}
<aside class="sidebar" [class.drawer]="layout.compact()" [class.open]="layout.navOpen()">
  <div class="brand">
    <span class="mark"><svg lucideFuel [size]="18"></svg></span>
    <div class="brand-text">
      <b>Gas Station</b>
      <small>Quản lý cửa hàng</small>
    </div>
  </div>

  @if (!hasStation()) {
    <div class="hint">
      <svg lucideLock [size]="14"></svg>
      <span>Chọn công ty và trạm để mở các chức năng vận hành.</span>
    </div>
  }

  <nav>
    @for (item of items; track item.link) {
      @if (locked(item)) {
        <span class="nav-item locked" [title]="lockedTitle(item)">
          <ng-container [ngTemplateOutlet]="iconTpl" [ngTemplateOutletContext]="{ $implicit: item.icon }"></ng-container>
          <span class="label">{{ item.label }}</span>
          @if (item.soon) {
            <span class="soon">SẮP CÓ</span>
          }
        </span>
      } @else {
        <a class="nav-item" [routerLink]="item.link" routerLinkActive="active" (click)="layout.closeNav()">
          <ng-container [ngTemplateOutlet]="iconTpl" [ngTemplateOutletContext]="{ $implicit: item.icon }"></ng-container>
          <span class="label">{{ item.label }}</span>
        </a>
      }
    }
  </nav>
</aside>

<ng-template #iconTpl let-icon>
  @switch (icon) {
    @case ('dashboard') { <svg lucideLayoutDashboard [size]="18" class="icon"></svg> }
    @case ('activity') { <svg lucideActivity [size]="18" class="icon"></svg> }
    @case ('barcode') { <svg lucideBarcode [size]="18" class="icon"></svg> }
    @case ('fuel') { <svg lucideFuel [size]="18" class="icon"></svg> }
    @case ('tag') { <svg lucideTag [size]="18" class="icon"></svg> }
    @case ('tank') { <svg lucideCylinder [size]="18" class="icon"></svg> }
    @case ('shift') { <svg lucideCalendarClock [size]="18" class="icon"></svg> }
    @case ('store') { <svg lucideStore [size]="18" class="icon"></svg> }
    @case ('users') { <svg lucideUsers [size]="18" class="icon"></svg> }
    @case ('chart') { <svg lucideChartColumn [size]="18" class="icon"></svg> }
  }
</ng-template>
